<div class="tab buildings" data-group="primary" data-tab="buildings">
  <div class="grid-2col">
    {{#each actor.system.buildings as |building id|}}
      <div class="building">
        <h3 class="building-header">
          {{building.name}}
          {{#if ../editable}}
            <div>
              <label class="remove-building" data-uuid="{{building.uuid}}" title="{{localize 'settlement-sheets.RemoveBuilding'}}">
                <i class="fas fa-trash"></i>
              </label>
              <label class="open-building" data-uuid="{{building.uuid}}" title="{{localize 'settlement-sheets.EditBuilding'}}">
                <i class="fas fa-cog"></i>
              </label>
            </div>
          {{/if}}
        </h3>
        <div>{{{building.system.description}}}</div>
        <div>{{{building.system.benefits}}}</div>
      </div>
    {{/each}}
    <div class="building">
      <div class="add-building">
        <h3>
          {{localize 'settlement-sheets.AddNewBuilding'}}
        </h3>
        <div>{{localize 'settlement-sheets.AddNewBuildingHint'}}</div>
      </div>
    </div>
  </div>
</div>
