<div class="tab" data-group="primary" data-tab="overview">
  <div class="description">
    <h3 class="field-title">{{localize 'settlement-sheets.SettlementDescription'}}</h3>
    {{editor actor.system.description target="system.description" button=true editable=editable}}
  </div>
  <div class="flexrow">
    <div class="influential-people">
      <h3 class="field-title">{{localize 'settlement-sheets.InfluentialPeople'}}</h3>
      {{editor actor.system.influentialPeople target="system.influentialPeople" button=true editable=editable}}
    </div>
    <div class="buildings-list">
      <h3 class="field-title">{{localize 'settlement-sheets.MostPopulousBuildings'}}</h3>
      <ul>
        {{#each actor.buildings as |building|}}
          <li>{{building.name}}</li>
        {{/each}}
      </ul>
    </div>
  </div>
</div>
