<div class="tab statistics" data-group="primary" data-tab="statistics">
  <div class="trackers ss-grid ss-grid-3col">
    {{#each trackers as |tracker|}}
      <div class="tracker">
        <label class="title">{{localize tracker.label}}</label>
        <label class="content">
          {{#ifeq tracker.type 'number'}}
            <input type="number" name="system.trackers.{{id}}.value" value="{{tracker.value}}"/>
          {{/ifeq}}
          {{#ifeq tracker.type 'string'}}
            <input type="text" name="system.trackers.{{id}}.value" value="{{tracker.value}}"/>
          {{/ifeq}}
        </label>
      </div>
    {{/each}}
  </div>
</div>
