<form class="{{cssClass}} flexcol" autocomplete="off">
  {{!-- Header --}}
  <header class="header">
    <div class="core-info">
      <img class="image" src="{{item.img}}" title="{{item.name}}" alt="Settlement Image"/>
      <h1 class="name">
        <label>{{item.name}}</label>
      </h1>
    </div>
  </header>

  {{!-- Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <div class="item" data-tab="overview">{{localize "settlement-sheets.TABS.Overview"}}</div>
  </nav>

  {{!-- Body --}}
  <section class="sheet-body">
    {{!-- Group Members Tab --}}
    {{> "modules/settlement-sheets/templates/parts/building/overview.hbs"}}
  </section>
</form>
